<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AshrutSharma_COMP304Sec004_Lab2_Ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week5">
        <activity android:name=".PaymentMade"></activity>
        <activity android:name=".CheckOut" />
        <activity android:name=".CardPayment" />
        <activity android:name=".BrowseTownHouse" />
        <activity android:name=".BrowseCondo" />
        <activity android:name=".BrowseSemi" />
        <activity android:name=".BrowseDetached" />
        <activity android:name=".BrowseApartment" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>